[submodule "local/share/urxvt/perl"]
	path = local/share/urxvt/perl
	url = https://github.com/muennich/urxvt-perls.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
