# {{{ General

# Port range to use for listening (inclusive bounds).
port_range = 49164-49164
# Open the listening port at a random position in the port range.
port_random = no
# Perform hash check on torrents that have finished downloading.
check_hash = yes

# Default directory to save the downloaded torrents.
directory = ~/.local/share/rtorrent/data
# Default session directory.
session = ~/.local/share/rtorrent/session

# Preferred filename encoding.
encoding_list = UTF-8

# Enable encryption:
# - allow incoming encrypted connections
# - use encryption for outgoing connections
# - if the initial outgoing connection fails, retry with encryption toggled.
encryption = allow_incoming,try_outgoing,enable_retry

# Allow peer exchange (for torrents not marked private).
peer_exchange = yes

# }}}
# {{{ Throttling

# From https://torrentfreak.com/optimize-your-BitTorrent-download-speed/
# upload_rate   = 80% of the maximum upload   speed.
# download_rate = 95% of the maximum download speed.
# max_peers     = 1.3 *  the maximum upload speed (in kB/s).
# max_uploads   = 1 + (upload_rate / 6)

# Global upload rate (in KiB).
upload_rate = 800
# Global download rate (in KiB).
download_rate = 3000
# Maximum number of peers to connect to per torrent.
max_peers = 1024
# Maximum number of simultaneous uploads per torrent.
max_uploads = 128

# }}}
# {{{ Trackers

# Allow the use of UDP trackers.
use_udp_trackers = yes

# Enable DHT support for trackerless torrents or when all trackers are down.
dht = auto
# UDP port to use for DHT.
dht_port = 6881

# }}}
# {{{ Scheduled actions

# Watch a directory for new torrents, and stop those that have been deleted.
schedule = watch_directory,5,5,load_start=~/.local/share/rtorrent/watch/*.torrent
schedule = tied_directory,5,5,start_tied=
schedule = untied_directory,5,5,stop_untied=

# Close torrents when diskspace is low (5G).
schedule = low_diskspace,5,60,close_low_diskspace=5120M

# }}}
# {{{ Advanced settings

# Local domain socket path for XMLRPC.
scgi_local = ~/.local/share/rtorrent/rpc.socket
# Preallocate files (reduces defragmentation).
system.file_allocate.set = yes

# }}}
# vim:ft=cfg
